<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/day19_day20_day21-File&amp;IO/src/day20/_05_memory_stream/ByteArrayDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="day20._05_memory_stream.ByteArrayDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="day19_day20_day21-File&amp;IO"/>
</launchConfiguration>
